* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style-type: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #305199;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #305199;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

header {
    background-color: #305199;
    padding: 20px 40px;
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.form:after {
    content: "";
    display: table;
    clear: both;
}

input, .button_add{
    margin-top: 30px;
    margin-bottom: 40px;
}

input {
    margin-left: 10%;
    border: 1px solid gray;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.button_add {
    margin-left: 5%;
    padding: 1%;
    width: 10%;
    background: #305199;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    border: 1px solid #305199;
    border-radius: 5px;
}

.button_add:hover {
    border: 1px solid white;
}